
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.squareDiv {
    width: 6.25%;
    height: 6.25%;
    border: 1px solid rgba(255, 0, 0, 0.432);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.colorDiv {
    background-color: rgb(228, 248, 153);
}

.button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 1px grey;
}

.button:hover {
    background-color:rgba(7, 60, 207, 0.226);
}