html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color:black;
}

h1 {
    padding: 0;
    margin: 20px auto;
    width: 25%; 
    font-size: 40px;
    text-align: center;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container {
    border: 1px solid black;
    background-color: antiquewhite; 
    box-shadow: 0 32px 64px rgba(121, 11, 11, 0.767);
    width: 500px;
    height: 500px;
    margin: 10px auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}


.squareDiv {
    border: 1px solid rgba(0, 0, 255, 0.025);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite; 
}

.colorDiv {
    background-color: red;
    border: 1px solid red;
    border-radius: 3px;
    box-sizing: border-box;
}

.button {
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 30%;
    background-color: antiquewhite;
    box-shadow: 1px 1px 1px grey;  
}

.button:hover {
    background-color:rgba(7, 60, 207, 0.158);
}




